# Supabase Configuration
VITE_SUPABASE_URL="https://xyzcompany.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOi..."

# Manual UPI Payment Details
VITE_UPI_ID="printlab3d@okhdfcbank"
VITE_BUSINESS_NAME="PRINTLAB 3D"

# Cloudinary Image Storage & Management
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
